# Node build artifacts
node_modules
npm-debug.log

# Local development
config/
*.env
*.env.test
*.dev
.DS_Store

# react-ui
react-ui/node_modules
react-ui/coverage
react-ui/build
react-ui/.DS_Store
react-ui/.env.local
react-ui/.env.development.local
react-ui/.env.test.local
react-ui/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
Dockerfile
docker-compose.yml

# Allow
!/server/config/*