.card {
  margin: 2em;
}

.stock-grid-wrapper {
  margin: 2em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.stock-card {
  flex-grow: 1;
  min-width: 200px;
  margin: 0.125em;
  height: 100px;
  position: relative;
}

.stock-card-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 48px;
  display: flex;
  align-items: center;
}

.stock-card-name {
  flex-grow: 1;
  font-size: 1em;
  color: #fff;
  margin-left: 16px;
}